$large-page-content-size: 95%;
$medium-page-content-size: 97%;
$small-page-content-size: 100%;

main {
  width: $large-page-content-size;
  margin: 0 auto;
  max-width: none;
  padding: 0 0 4em 0;
}

header {
  width: $large-page-content-size;
  margin: 0 auto;
  max-width: none;
}


@media screen and (max-width: $medium-page-width) {
    main {
      width: $medium-page-content-size;
    }
    header {
      width: $medium-page-content-size;
    }
}

@media screen and (max-width: $small-page-width) {
    main {
      width: $small-page-content-size;
    }
    header {
      width: $small-page-content-size;
    }
}
