.title {
  display: inline-block;
  margin: 0 0 1em 0;
}

.title__text {
  margin: 0;
}

.title__author {
  font-size: 1em;
  font-style: italic;
  display: block;
  text-align: right;
  margin: -.7em -2em 0 0;
  a {
    color: $main-text-color;
  }
}
