$dark-background-color: whitesmoke;
$light-background-color: white;

$main-text-color: #0F52BA;
$dark-text-color: #818181;

$highlight-color: #006FFF;

$border-color: #d1d1d1;

$error-color: crimson;


//media queries
$medium-page-width: 920px;
$small-page-width: 560px;
