#es6-section {
  .code {
    padding: .5em;
  }

  .input {
    line-height: 1.4em;
    box-sizing: border-box;
    resize: none;
    overflow-x: hidden;
    width: 100%;
    font-family: Consolas, 'courier new';
    margin: 0;
  }

  .error {
    width: 100%;
    height: 100%;
    background: $error-color;
  }

  .error-text {
      color: white;
      padding: .8em;
      margin: 0;
      font-size: .8em;
  }

  pre {
    background: white;
    border: 1px solid $border-color;
    line-height: 1.4em;
    min-height: 4em;
    margin: 0;
    padding: .5em;
    word-wrap: break-word;
  }
}
